:root{
 --size-5: 5rem;
 --size-4: 4rem;
 --size-3: 3rem;
}
html{
  width:auto;
}
body {
  margin:0;
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 9, 71);
  background-image: linear-gradient(-145deg, rgb(50, 245, 245), rgb(99, 166, 253));
  width:100%;
}
footer{
  display: flex;
  justify-content: center;
}
.header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.photostd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-style: 3px solid black;
  border-radius: 15px;
  height: 28rem;
  width: 90%;
  align-self: center;
  background-size: cover;
  background-position: center;
}
.landing {
  display:flex;
  flex-direction: column;
  justify-content: start;
  background-image: url('./photos/large_empty_pool.jpg');
  background-position: center;
  background-color: #ddd;
  border-radius: 10px;
  height: 100vh;
  width: 98%;
    
}

.textboxtop {
  margin-top:85px;
  display:flex;
  flex-direction:column;
  justify-self: start;
  background-color: rgba(169, 251, 201, 0.7);
  border:2px solid aqua ;
  border-radius: 10px;
  position: relative;
  width: 80%;
}
.textboxtop h3{
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
  color:rgb(0, 0, 0);
  text-shadow: 0px 0px 15px white,0px 0px 15px blue, 0px 0px 5px rgb(72, 31, 31);
}
.textboxtop h2 {
  width:60%;
  align-self:center;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
a{
  text-decoration: none;
}
.foot{
  background-image: url('./photos/poolbar.jpg');
  color:#ddd;
  background-position: relative;
  background-position: center;
  width: 100%;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}
h1{
  text-align:center;
  margin:0;
}
h2{
  text-align: center;
  display: flex;
  font-size: 3rem;
  color: blue;
  justify-content: center;
  text-shadow: 0px 0px 5px yellow, 0px 0px 15px yellow, 0px 0px 5px yellow;
}
h3{
  font-family: serif;
  font-size:1.7rem;
  color:#fff;
  margin: 5px;
  text-align:center;
}
.liner {
  background-image: url('./photos/newliner.jpg');
  animation: linerslides 7s infinite;
  animation-play-state: paused;
}
.liner:hover {
  animation-play-state: running;
}
@keyframes linerslides {
  from {
    background-image: url("./photos/withliner.jpg");
    background-size: cover;
    background-position: center;
  }
  50%{
    background-image: url("./photos/withoutliner.jpg");
      background-size: cover;
      background-position: center;
  }
  75%{
     background-image: url("./photos/withliner.jpg");
    background-size: cover;
    background-position: center;
  }
  to {
    background-image: url("./photos/withliner.jpg");
    background-size: cover;
    background-position: center;
  }
}
 a {
  color: rgb(160, 238, 255);
  text-shadow: 0px 10px 10px black;
  font-size: var(--size-5);
  place-self: center;
}
.clean {
  background-image: url('./photos/cleanopening.jpg');
  animation: cleanslides 7s infinite;
  animation-play-state: paused;
}
.clean:hover{
  animation-play-state: running;
}
@keyframes cleanslides {
  from {
    background-image: url("./photos/dirtyopening.jpg");
    background-size: cover;
    background-position: center;
  }

  50% {
    background-image: url("./photos/cleanopening.jpg");
    background-size: cover;
    background-position: center;
  }

  75% {
    background-image: url("./photos/dirtyopening.jpg");
    background-size: cover;
    background-position: center;
  }

  to {
    background-image: url("./photos/dirtyopening.jpg");
    background-size: cover;
    background-position: center;
  }
}


.clean div a{
  color: rgb(255, 197, 197);
  text-shadow: 0px 10px 10px black;
}
.newparts {
  background-image: url('./photos/newparts.jpg');
 
}

.newparts div a {
  text-align: center;
  color: rgb(177, 255, 170);
  text-shadow: 0px 10px 10px black;
}
.maintain {
  background-image: url('./photos/algeapool2.jpg');
}

.maintain div a {
  text-align: center;
  color: rgb(244, 255, 157);
  text-shadow: 0px 10px 10px black;
}

div{
  margin-bottom:20px;
}
.textbox{
  display:flex;
  flex-direction: column;
  
  width:75%;
}



@media (max-width: 768px) {
  .foot {

  }
  .liner,
  .clean{
    animation-play-state: running;
  }
  .textboxtop h2 {
    width: 80%;
  }
  .photostd {
    height: 60vh;
  
  }
  #hero{
    height:auto;
  }
  .whatdo{
    height:25rem;
    place-self:center;
  }
  .foot{ height:auto }
}
@media (max-width: 425px) {
  a{  font-size: var(--size-3); }
  .foot { height:auto; }
  h3{ font-size: 1rem; }
}

@media (max-width: 375px) {
  a{ font-size:var(--size-3); }

  h3 {
    margin: 10px;
    text-align: center;
  }

}
@media (max-width: 320px) {
  body{
    margin:0;
  }
  h2{
    margin :0px;
    text-align: center;
  }
  h3 {
    margin: 10px;
    text-align: center;
  }
  .textbox{
    width:85%;
    text-align:center;
  }

}