:root{
 --size-5: 5rem;
 --size-4: 4rem;
 --size-3: 3rem;
}

.photostd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-style: 3px solid black;
  border-radius: 15px;
  height: 28rem;
  width: 90vw;
  align-self: center;
  background-size: cover;
  background-position: center;
}
a{
  text-decoration: none;
}


.foot{
  height: 15rem;
  background-image: url('./photos/poolbar.jpg');
  color:#ddd;
  background-position: relative;
  background-position-y: 450px;
  background-position: center;
  background-position: top;
  width: 100vw;

  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}
h1{
  text-align:center;
  margin:0;
}
h2{
  display: flex;
  font-size: xx-large;
  color: blue;
  justify-content: center;
  text-shadow: 0px 0px 5px yellow, 0px 0px 15px yellow, 0px 0px 5px yellow;
}
h3{
  font-family: serif;
  color:#fff;
  margin: 10px;
  text-align:center;
}
.liner {
  background-image: url('./photos/newliner.jpg');
}
 a {
  color: rgb(160, 238, 255);
  text-shadow: 0px 10px 10px black;
  font-size: var(--size-5);
  place-self: center;
}
.clean {
  background-image: url('./photos/cleanopening.jpg');
}
.clean div a{
  color: rgb(255, 197, 197);
  text-shadow: 0px 10px 10px black;
}
.newparts {
  background-image: url('./photos/newparts.jpg');
}

.newparts div a {
  text-align: center;
  color: rgb(177, 255, 170);
  text-shadow: 0px 10px 10px black;
}
.maintain {
  background-image: url('./photos/algeapool2.jpg');
}

.maintain div a {
  text-align: center;
  color: rgb(244, 255, 157);
  text-shadow: 0px 10px 10px black;
}

body{
 display:flex;
 flex-direction: column;
 background-color:rgb(9, 9, 71);
}
div{
  margin-bottom:20px;
}
.textbox{
  display:flex;
  flex-direction: column;
  
  width:75vw;
}



@media (max-width: 768px) {
  .foot {
    background-position-y: 350px;
  }
  .whatdo{
    height:25rem;
    place-self:center;
  }
}
@media (max-width: 425px) {
  a{
    font-size:var(--size-3);
  }
  .foot {
    height:300px;
    background-position-y: 300px;
  }
}

@media (max-width: 375px) {
  a{
    font-size:var(--size-3);
  }
  .photostd{
    height:41.668rem;

  }
  .foot {
    margin: 0px;
    background-position-y: 400px;
  }

  h3 {
    margin: 10px;
    text-align: center;
  }

  .foot {
    height: 25rem;
  }

}
@media (max-width: 320px) {
  body{
    margin:0;
    width:100vw;
  }
  .foot {
    margin: 0px;
    height:25rem;

  }
  h2{
    margin :0px;
    text-align: center;
  }
  h3 {
    margin: 10px;
    text-align: center;
  }
  .textbox{
    width:85vw;
    text-align:center;
  }

}
